<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
     <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
</head>
<body>
    <h1>TV Shows</h1>
    <p>Database: {{B}}</p>

    <br />
    <div class="" id="listA">Shows List:</div>
       <ul>
         {%for SHOW in SHOW_LIST%}
         <li><a href="{{ SHOW }}">{{ SHOW }}</a></li>
         <a href="{{ SHOW }}-Debug">Debug View</a></li>

         {%endfor%}
       </ul>
    </div>
</body>
</html>
