{% extends "page_layout.html" %}
{% block content %}
  <div class="my-3 p-3 bg-white rounded box-shadow">
    <h6 class="border-bottom border-gray pb-2 mb-0">TV shows found:</h6>
      <div class="list-group pt-4" >
      {% for show in series_list %}
        <a href="/{{ show }}" class="list-group-item list-group-item-action">{{ show }}</a>
      {% else %}
          The show list is empty
      {% endfor %}
      </div>
    <small class="d-block text-right mt-3">
      <a href="/">Homepage</a>
    </small>
  </div>
{% endblock %}
